form {
    border: solid 1px black;
    margin: 20px;
    padding: 20px;
    background-color: rgb(220, 216, 186);
    border-radius: 30px;
}

body {
    background-color: rgb(165, 130, 42);
}

h1 {
    font-size: 65px;
    text-align: center;
    color: white;
}

.dugme {
    width: 46%;
    margin-left: 30px;
    height: 60px;
    border-radius: 30px;
}